@import "tailwindcss";

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {

  body {
    background-color: #1A1A1A;
  }

  body,
  input,
  button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

}

@theme {
      --color-color1: #00D05C;
      --color-color2: #117243;
      --color-box-black: #0D0D0D;
      --color-background: #1A1A1A;
      --color-box-gray-500: #262626;
      --color-button-green-300: #0EA24F;
      --color-text-gray-300: #808080;
      --color-text-gray-100: #D9D9D9;
      --color-danger: #E25858;
    
    },